## Fundamentals

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lenovo\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [8]:
numbers= pd.Series([4,6,8,2,9])
numbers

0    4
1    6
2    8
3    2
4    9
dtype: int64

In [9]:
numbers= pd.Series([4.0,6,8,2,9])
numbers

0    4.0
1    6.0
2    8.0
3    2.0
4    9.0
dtype: float64

In [10]:
fruits=['Mango','Apple','Banana','Pappaya','Kiwi']
ser_fruits=pd.Series(fruits)
ser_fruits=fruits
ser_fruits

['Mango', 'Apple', 'Banana', 'Pappaya', 'Kiwi']

## Data Frame

In [18]:
apple=['Apple',60]
banana=['banana',20]
kiwi=['kiwi',40]
df=pd.DataFrame([apple,banana,kiwi])
df

        0   1
0   Apple  60
1  banana  20
2    kiwi  40

In [19]:
df.columns=['fruits','price(INR)']
df

   fruits  price(INR)
0   Apple          60
1  banana          20
2    kiwi          40

In [20]:
type(df)

pandas.core.frame.DataFrame