In [20]:
import pandas as pd

In [21]:
df=pd.read_csv('data/cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [ ]:
df.

In [22]:
df['Car']

0      Chevrolet Chevelle Malibu
1              Buick Skylark 320
2             Plymouth Satellite
3                  AMC Rebel SST
4                    Ford Torino
                 ...
401              Ford Mustang GL
402            Volkswagen Pickup
403                Dodge Rampage
404                  Ford Ranger
405                   Chevy S-10
Name: Car, Length: 406, dtype: object

In [23]:
df.Car

0      Chevrolet Chevelle Malibu
1              Buick Skylark 320
2             Plymouth Satellite
3                  AMC Rebel SST
4                    Ford Torino
                 ...
401              Ford Mustang GL
402            Volkswagen Pickup
403                Dodge Rampage
404                  Ford Ranger
405                   Chevy S-10
Name: Car, Length: 406, dtype: object

In [24]:
df.get(['Car'])

                           Car
0    Chevrolet Chevelle Malibu
1            Buick Skylark 320
2           Plymouth Satellite
3                AMC Rebel SST
4                  Ford Torino
..                         ...
401            Ford Mustang GL
402          Volkswagen Pickup
403              Dodge Rampage
404                Ford Ranger
405                 Chevy S-10

[406 rows x 1 columns]

## Accesing Multiple Feature

In [25]:
df[['Car','Model','Displacement']]

                           Car  Model  Displacement
0    Chevrolet Chevelle Malibu     70         307.0
1            Buick Skylark 320     70         350.0
2           Plymouth Satellite     70         318.0
3                AMC Rebel SST     70         304.0
4                  Ford Torino     70         302.0
..                         ...    ...           ...
401            Ford Mustang GL     82         140.0
402          Volkswagen Pickup     82          97.0
403              Dodge Rampage     82         135.0
404                Ford Ranger     82         120.0
405                 Chevy S-10     82         119.0

[406 rows x 3 columns]

## Row Index

In [26]:
df.index

RangeIndex(start=0, stop=406, step=1)

In [27]:
df['Car'].index

RangeIndex(start=0, stop=406, step=1)

## Column Name

In [28]:
df.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

## Data Types

In [30]:
df.dtypes

Car              object
MPG             float64
Cylinders       float64
Displacement    float64
Horsepower      float64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [31]:
df['Origin'].dtypes

dtype('O')

## Information

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           406 non-null    object
 1   MPG           406 non-null    float64
 2   Cylinders     405 non-null    float64
 3   Displacement  406 non-null    float64
 4   Horsepower    404 non-null    float64
 5   Weight        406 non-null    int64
 6   Acceleration  405 non-null    float64
 7   Model         406 non-null    int64
 8   Origin        406 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 28.7+ KB

In [33]:
df['Weight'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 406 entries, 0 to 405
Series name: Weight
Non-Null Count  Dtype
--------------  -----
406 non-null    int64
dtypes: int64(1)
memory usage: 3.3 KB

## VAlues

In [34]:
df.values

array([['Chevrolet Chevelle Malibu', 18.0, 8.0, ..., 12.0, 70, 'US'],
       ['Buick Skylark 320', 15.0, 8.0, ..., 11.5, 70, 'US'],
       ['Plymouth Satellite', 18.0, 8.0, ..., nan, 70, 'US'],
       ...,
       ['Dodge Rampage', 32.0, 4.0, ..., 11.6, 82, 'US'],
       ['Ford Ranger', 28.0, 4.0, ..., 18.6, 82, 'US'],
       ['Chevy S-10', 31.0, 4.0, ..., 19.4, 82, 'US']],
      shape=(406, 9), dtype=object)

In [35]:
df['Origin'].values

array(['US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'Europe', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'Japan', 'US', 'US', 'US', 'Japan', 'Europe', 'Europe', 'Europe',
       'Europe', 'Europe', 'US', 'US', 'US', 'US', 'US', 'Japan', 'US',
       'Japan', 'US', 'Europe', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'Europe', 'Europe', 'Europe', 'Japan', 'Japan', 'Europe', 'US',
       'Japan', 'US', 'Europe', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'Japan', 'US', 'US', 'US', 'US', 'Europe',
       'Europe', 'Europe', 'Europe', 'US', 'Japan', 'Japan', 'US',
       'Japan', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'Europe', 'US',
       'US', 'US', 'US', 'US', 'Japan', 'US', 'Japan', 'Japan', 'US',
       'US', 'Europe', 'US', 'US', 'Europe', 'Europe', 'Europe', 'Europe',
       'US', 'Europe', 'Japan', 'US', 'US', 'US', 'US', 'US', 'Japan',
       'US', 'Japan', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'Europe', 'Europe', 'Europe', 'Japan', 'Japan', 'US',
       'Europe', 'Europe', 'Japan', 'Japan', 'Europe', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'Japan', 'US', 'US', 'US', 'Japan', 'Europe', 'Japan', 'US',
       'Europe', 'US', 'Europe', 'Europe', 'Europe', 'Europe', 'Japan',
       'Europe', 'Europe', 'US', 'US', 'Europe', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'Europe', 'Japan', 'US', 'US',
       'US', 'US', 'Europe', 'Japan', 'Japan', 'US', 'Europe', 'US',
       'Europe', 'Japan', 'Europe', 'US', 'US', 'US', 'US', 'Japan', 'US',
       'Europe', 'US', 'Japan', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'Europe', 'US', 'Japan', 'US', 'US',
       'US', 'Japan', 'Europe', 'Japan', 'Europe', 'Japan', 'Europe',
       'US', 'Japan', 'Japan', 'Japan', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'Japan', 'Japan', 'US', 'Japan', 'US', 'US', 'Japan',
       'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Japan', 'US',
       'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'Europe', 'Japan', 'US', 'US', 'Europe', 'US', 'Europe',
       'US', 'US', 'US', 'Japan', 'Europe', 'US', 'US', 'US', 'US',
       'Europe', 'Japan', 'US', 'Japan', 'US', 'US', 'US', 'US', 'Europe',
       'Japan', 'Japan', 'Japan', 'Japan', 'Japan', 'US', 'Japan',
       'Europe', 'Europe', 'Europe', 'Europe', 'Japan', 'Europe', 'Japan',
       'Europe', 'Japan', 'Japan', 'Europe', 'US', 'Japan', 'US', 'US',
       'US', 'US', 'US', 'Japan', 'US', 'Japan', 'Japan', 'Japan',
       'Japan', 'Japan', 'US', 'US', 'US', 'Europe', 'Europe', 'Japan',
       'Japan', 'Japan', 'Japan', 'Europe', 'Europe', 'Europe', 'Japan',
       'Japan', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US', 'US',
       'US', 'US', 'US', 'Europe', 'Japan', 'Japan', 'US', 'US', 'Japan',
       'Japan', 'Japan', 'Japan', 'Japan', 'Japan', 'US', 'US', 'US',
       'US', 'Japan', 'US', 'US', 'US', 'Europe', 'US', 'US', 'US'],
      dtype=object)

In [37]:
for Car in df ['Car'].values:
    print(Car)

Chevrolet Chevelle Malibu
Buick Skylark 320
Plymouth Satellite
AMC Rebel SST
Ford Torino
Ford Galaxie 500
Chevrolet Impala
Plymouth Fury iii
Pontiac Catalina
AMC Ambassador DPL
Citroen DS-21 Pallas
Chevrolet Chevelle Concours (sw)
Ford Torino (sw)
Plymouth Satellite (sw)
AMC Rebel SST (sw)
Dodge Challenger SE
Plymouth 'Cuda 340
Ford Mustang Boss 302
Chevrolet Monte Carlo
Buick Estate Wagon (sw)
Toyota Corolla Mark ii
Plymouth Duster
AMC Hornet
Ford Maverick
Datsun PL510
Volkswagen 1131 Deluxe Sedan
Peugeot 504
Audi 100 LS
Saab 99e
BMW 2002
AMC Gremlin
Ford F250
Chevy C20
Dodge D200
Hi 1200D
Datsun PL510
Chevrolet Vega 2300
Toyota Corolla
Ford Pinto
Volkswagen Super Beetle 117
AMC Gremlin
Plymouth Satellite Custom
Chevrolet Chevelle Malibu
Ford Torino 500
AMC Matador
Chevrolet Impala
Pontiac Catalina Brougham
Ford Galaxie 500
Plymouth Fury iii
Dodge Monaco (sw)
Ford Country Squire (sw)
Pontiac Safari (sw)
AMC Hornet Sportabout (sw)
Chevrolet Vega (sw)
Pontiac Firebird
Ford Mustang
Mercury Capri 2000
Opel 1900
Peugeot 304
Fiat 124B
Toyota Corolla 1200
Datsun 1200
Volkswagen Model 111
Plymouth Cricket
Toyota Corolla Hardtop
Dodge Colt Hardtop
Volkswagen Type 3
Chevrolet Vega
Ford Pinto Runabout
Chevrolet Impala
Pontiac Catalina
Plymouth Fury III
Ford Galaxie 500
AMC Ambassador SST
Mercury Marquis
Buick LeSabre Custom
Oldsmobile Delta 88 Royale
Chrysler Newport Royal
Mazda RX2 Coupe
AMC Matador (sw)
Chevrolet Chevelle Concours (sw)
Ford Gran Torino (sw)
Plymouth Satellite Custom (sw)
Volvo 145e (sw)
Volkswagen 411 (sw)
Peugeot 504 (sw)
Renault 12 (sw)
Ford Pinto (sw)
Datsun 510 (sw)
Toyota Corolla Mark II (sw)
Dodge Colt (sw)
Toyota Corolla 1600 (sw)
Buick Century 350
AMC Matador
Chevrolet Malibu
Ford Gran Torino
Dodge Coronet Custom
Mercury Marquis Brougham
Chevrolet Caprice Classic
Ford LTD
Plymouth Fury Gran Sedan
Chrysler New Yorker Brougham
Buick Electra 225 Custom
AMC Ambassador Brougham
Plymouth Valiant
Chevrolet Nova Custom
AMC Hornet
Ford Maverick
Plymouth Duster
Volkswagen Super Beetle
Chevrolet Impala
Ford Country
Plymouth Custom Suburb
Oldsmobile Vista Cruiser
AMC Gremlin
Toyota Camry
Chevrolet Vega
Datsun 610
Mazda RX3
Ford Pinto
Mercury Capri v6
Fiat 124 Sport Coupe
Chevrolet Monte Carlo S
Pontiac Grand Prix
Fiat 128
Opel Manta
Audi 100LS
Volvo 144ea
Dodge Dart Custom
Saab 99le
Toyota Mark II
Oldsmobile Omega
Plymouth Duster
Ford Maverick
AMC Hornet
Chevrolet Nova
Datsun B210
Ford Pinto
Toyota Corolla 1200
Chevrolet Vega
Chevrolet Chevelle Malibu Classic
AMC Matador
Plymouth Satellite Sebring
Ford Gran Torino
Buick Century Luxus (sw)
Dodge Coronet Custom (sw)
Ford Gran Torino (sw)
AMC Matador (sw)
Audi Fox
Volkswagen Dasher
Opel Manta
Toyota Corolla
Datsun 710
Dodge Colt
Fiat 128
Fiat 124 TC
Honda Civic
Subaru
Fiat x1.9
Plymouth Valiant Custom
Chevrolet Nova
Mercury Monarch
Ford Maverick
Pontiac Catalina
Chevrolet Bel Air
Plymouth Grand Fury
Ford LTD
Buick Century
Chevrolete Chevelle Malibu
AMC Matador
Plymouth Fury
Buick Skyhawk
Chevrolet Monza 2+2
Ford Mustang II
Toyota Corolla
Ford Pinto
AMC Gremlin
Pontiac Astro
Toyota Corolla
Volkswagen Dasher
Datsun 710
Ford Pinto
Volkswagen Rabbit
AMC Pacer
Audi 100LS
Peugeot 504
Volvo 244DL
Saab 99LE
Honda Civic CVCC
Fiat 131
Opel 1900
Capri ii
Dodge Colt
Renault 12tl
Chevrolet Chevelle Malibu Classic
Dodge Coronet Brougham
AMC Matador
Ford Gran Torino
Plymouth Valiant
Chevrolet Nova
Ford Maverick
AMC Hornet
Chevrolet Chevette
Chevrolet Woody
Volkswagen Rabbit
Honda Civic
Dodge Aspen SE
Ford Grenada ghia
Pontiac Ventura SJ
AMC Pacer d/l
Volkswagen Rabbit
Datsun B-210
Toyota Corolla
Ford Pinto
Volvo 245
Plymouth Volare Premier v8
Peugeot 504
Toyota Mark II
Mercedes-Benz 280s
Cadillac Seville
Chevrolet C10
Ford F108
Dodge D100
Honda Accord CVCC
Buick Opel Isuzu Deluxe
Renault 5 GTL
Plymouth Arrow GS
Datsun F-10 Hatchback
Chevrolet Caprice Classic
Oldsmobile Cutlass Supreme
Dodge Monaco Brougham
Mercury Cougar Brougham
Chevrolet Concours
Buick Skylark
Plymouth Volare Custom
Ford Grenada
Pontiac Grand Prix LJ
Chevrolet Monte Carlo Landau
Chrysler Cordoba
Ford Thunderbird
Volkswagen Rabbit Custom
Pontiac Sunbird Coupe
Toyota Corolla Liftback
Ford Mustang II 2+2
Chevrolet Chevette
Dodge Colt m/m
Subaru DL
Volkswagen Dasher
Datsun 810
BMW 320i
Mazda RX-4
Volkswagen Rabbit Custom Diesel
Ford Fiesta
Mazda GLC Deluxe
Datsun B210 GX
Honda Civic CVCC
Oldsmobile Cutlass Salon Brougham
Dodge Diplomat
Mercury Monarch ghia
Pontiac Phoenix LJ
Chevrolet Malibu
Ford Fairmont (auto)
Ford Fairmont (man)
Plymouth Volare
AMC Concord
Buick Century Special
Mercury Zephyr
Dodge Aspen
AMC Concord d/l
Chevrolet Monte Carlo Landau
Buick Regal Sport Coupe (turbo)
Ford Futura
Dodge Magnum XE
Chevrolet Chevette
Toyota Corolla
Datsun 510
Dodge Omni
Toyota Celica GT Liftback
Plymouth Sapporo
Oldsmobile Starfire SX
Datsun 200-SX
Audi 5000
Volvo 264gl
Saab 99gle
Peugeot 604sl
Volkswagen Scirocco
Honda Accord LX
Pontiac Lemans V6
Mercury Zephyr 6
Ford Fairmont 4
AMC Concord DL 6
Dodge Aspen 6
Chevrolet Caprice Classic
Ford LTD Landau
Mercury Grand Marquis
Dodge St. Regis
Buick Estate Wagon (sw)
Ford Country Squire (sw)
Chevrolet Malibu Classic (sw)
Chrysler Lebaron Town @ Country (sw)
Volkswagen Rabbit Custom
Mazda GLC Deluxe
Dodge Colt Hatchback Custom
AMC Spirit DL
Mercedes Benz 300d
Cadillac Eldorado
Peugeot 504
Oldsmobile Cutlass Salon Brougham
Plymouth Horizon
Plymouth Horizon TC3
Datsun 210
Fiat Strada Custom
Buick Skylark Limited
Chevrolet Citation
Oldsmobile Omega Brougham
Pontiac Phoenix
Volkswagen Rabbit
Toyota Corolla Tercel
Chevrolet Chevette
Datsun 310
Chevrolet Citation
Ford Fairmont
AMC Concord
Dodge Aspen
Audi 4000
Toyota Corolla Liftback
Mazda 626
Datsun 510 Hatchback
Toyota Corolla
Mazda GLC
Dodge Colt
Datsun 210
Volkswagen Rabbit C (Diesel)
Volkswagen Dasher (diesel)
Audi 5000s (diesel)
Mercedes-Benz 240d
Honda Civic 1500 gl
Renault Lecar Deluxe
Subaru DL
Volkswagen Rabbit
Datsun 280-ZX
Mazda RX-7 GS
Triumph TR7 Coupe
Ford Mustang Cobra
Honda Accord
Plymouth Reliant
Buick Skylark
Dodge Aries Wagon (sw)
Chevrolet Citation
Plymouth Reliant
Toyota Starlet
Plymouth Champ
Honda Civic 1300
Subaru
Datsun 210 MPG
Toyota Tercel
Mazda GLC 4
Plymouth Horizon 4
Ford Escort 4W
Ford Escort 2H
Volkswagen Jetta
Renault 18i
Honda Prelude
Toyota Corolla
Datsun 200SX
Mazda 626
Peugeot 505s Turbo Diesel
Saab 900s
Volvo Diesel
Toyota Cressida
Datsun 810 Maxima
Buick Century
Oldsmobile Cutlass LS
Ford Grenada gl
Chrysler Lebaron Salon
Chevrolet Cavalier
Chevrolet Cavalier Wagon
Chevrolet Cavalier 2-door
Pontiac J2000 SE Hatchback
Dodge Aries SE
Pontiac Phoenix
Ford Fairmont Futura
AMC Concord DL
Volkswagen Rabbit l
Mazda GLC Custom l
Mazda GLC Custom
Plymouth Horizon Miser
Mercury Lynx l
Nissan Stanza XE
Honda Accord
Toyota Corolla
Honda Civic
Honda Civic (auto)
Datsun 310 GX
Buick Century Limited
Oldsmobile Cutlass Ciera (diesel)
Chrysler Lebaron Medallion
Ford Grenada l
Toyota Celica GT
Dodge Charger 2.2
Chevrolet Camaro
Ford Mustang GL
Volkswagen Pickup
Dodge Rampage
Ford Ranger
Chevy S-10

## Axes

In [38]:
df.axes

[RangeIndex(start=0, stop=406, step=1),
 Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
        'Acceleration', 'Model', 'Origin'],
       dtype='object')]

In [39]:
df.axes[0]

RangeIndex(start=0, stop=406, step=1)

In [40]:
df.axes[1]

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

## Dimension

In [41]:
df.ndim

2

In [42]:
df['Origin'].ndim

1

## Shape