get and set values

In [1]:
import pandas as pd

In [4]:

df=pd.read_csv('data/cars.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

using at

In [5]:
df.at[1,'Car']

'Buick Skylark 320'

In [6]:
df.at[2,'Car']="Audi 's Car'"
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Audi 's Car',18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [7]:
df.iat[2,0]

"Audi 's Car'"

In [8]:
df.iat[2,0]='Original car'
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Original car,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [9]:
df.loc[3,'Car']

'AMC Rebel SST'

In [10]:
df.loc[3,'Car']='DUMMY CAAR'
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Original car,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,DUMMY CAAR,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [12]:
df.iloc[3,0]

'DUMMY CAAR'

In [13]:
df.iloc[3,0]='Original Car'
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Original car,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,Original Car,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [14]:
df.loc[5]

Car             Ford Galaxie 500
MPG                         15.0
Cylinders                    8.0
Displacement               429.0
Horsepower                 198.0
Weight                      4341
Acceleration                10.0
Model                         70
Origin                        US
Name: 5, dtype: object

In [16]:
df.loc[5].at['Car']

'Ford Galaxie 500'