In [1]:
import pandas as pd

In [4]:
df=pd.DataFrame([
    ['Benz',18.0],
    ['Audi',16.0],
    ['Benz',17.0],
    ['Benz',18.0],
    ['Suzuki',19.0]
])
df.columns=['Car','MPG']
df

      Car   MPG
0    Benz  18.0
1    Audi  16.0
2    Benz  17.0
3    Benz  18.0
4  Suzuki  19.0

In [9]:
df['MPG'].idxmax(),df['MPG'].idxmin()

(4, 1)

In [10]:
df["MPG"].argmax(),df["MPG"].argmax()

(np.int64(4), np.int64(4))