## Aggregate Function

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/cars.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

Total Sum

In [3]:
df['Weight'].sum()

np.int64(1209642)

In [4]:
df['Weight'].agg('sum')

np.int64(1209642)

In [5]:
df['Weight'].aggregate('sum')

np.int64(1209642)

Min and Max

In [6]:
df['Weight'].min

<bound method Series.min of 0      3504
1      3693
2      3436
3      3433
4      3449
       ...
401    2790
402    2130
403    2295
404    2625
405    2720
Name: Weight, Length: 406, dtype: int64>

In [7]:
df['Weight'].max

<bound method Series.max of 0      3504
1      3693
2      3436
3      3433
4      3449
       ...
401    2790
402    2130
403    2295
404    2625
405    2720
Name: Weight, Length: 406, dtype: int64>

In [8]:
df['Weight'].agg([min,max])

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6788\2791036432.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df['Weight'].agg([min,max])
C:\Users\lenovo\AppData\Local\Temp\ipykernel_6788\2791036432.py:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['Weight'].agg([min,max])

min    1613
max    5140
Name: Weight, dtype: int64

Mean

In [9]:
df['Weight'].mean()

np.float64(2979.4137931034484)

In [10]:
df['Weight'].median()

np.float64(2822.5)

Mode-Most Frequency Value on Categorial column

In [11]:
df['Origin'].mode()

0    US
Name: Origin, dtype: object

Aggregate on Data Frame

In [12]:
df.mean(numeric_only=True)

MPG               23.051232
Cylinders          5.469136
Displacement     194.779557
Horsepower       103.393564
Weight          2979.413793
Acceleration      15.530864
Model             75.921182
dtype: float64

df

In [16]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [21]:
df[['MPG','Horsepower','Displacement','Weight']].agg(['mean','median','sum','std'])

                MPG    Horsepower  Displacement        Weight
mean      23.051232    103.393564    194.779557  2.979414e+03
median    22.350000     92.500000    151.000000  2.822500e+03
sum     9358.800000  41771.000000  79080.500000  1.209642e+06
std        8.401777     40.503972    104.922458  8.470043e+02

Group By

In [22]:
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [23]:
df.groupby(['Origin']).max()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
Origin,,,,,,,,
Europe,Volvo Diesel,44.3,6.0,183.0,133.0,3820,24.8,82
Japan,Toyota Tercel,46.6,6.0,168.0,132.0,2930,21.0,82
US,Pontiac Ventura SJ,39.0,8.0,455.0,230.0,5140,22.2,82

In [24]:
df.groupby(['Origin']).max()['Weight']

Origin
Europe    3820
Japan     2930
US        5140
Name: Weight, dtype: int64