Descriptive Statistics

In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv('data/cars.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

1) Difference between Rows

In [3]:
df_nums=df[['MPG','Weight','Acceleration']]
df_nums.head()

    MPG  Weight  Acceleration
0  18.0    3504          12.0
1  15.0    3693          11.5
2  18.0    3436           NaN
3  16.0    3433          12.0
4  17.0    3449          10.5

In [4]:
df_nums.diff().head()

   MPG  Weight  Acceleration
0  NaN     NaN           NaN
1 -3.0   189.0          -0.5
2  3.0  -257.0           NaN
3 -2.0    -3.0           NaN
4  1.0    16.0          -1.5

In [5]:
df_nums.diff(2).head()

   MPG  Weight  Acceleration
0  NaN     NaN           NaN
1  NaN     NaN           NaN
2  0.0   -68.0           NaN
3  1.0  -260.0           0.5
4 -1.0    13.0           NaN

In [6]:
df_nums.diff(-1).head()

   MPG  Weight  Acceleration
0  3.0  -189.0           0.5
1 -3.0   257.0           NaN
2  2.0     3.0           NaN
3 -1.0   -16.0           1.5
4  2.0  -892.0           0.5

## Percentage Change

In [7]:
df_nums.pct_change(fill_method=None).head()

        MPG    Weight  Acceleration
0       NaN       NaN           NaN
1 -0.166667  0.053938     -0.041667
2  0.200000 -0.069591           NaN
3 -0.111111 -0.000873           NaN
4  0.062500  0.004661     -0.125000

Nlargest&NSmallest

In [8]:
df['Weight'].nlargest(5)

51     5140
110    4997
49     4955
97     4952
102    4951
Name: Weight, dtype: int64

In [9]:
df.loc[df['Weight'].isin(df['Weight'].nlargest(5))]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
49,Dodge Monaco (sw),12.0,8.0,383.0,180.0,4955,11.5,71,US
51,Pontiac Safari (sw),13.0,8.0,400.0,175.0,5140,12.0,71,US
97,Mercury Marquis Brougham,12.0,8.0,429.0,198.0,4952,11.5,73,US
102,Buick Electra 225 Custom,12.0,8.0,455.0,225.0,4951,11.0,73,US
110,Chevrolet Impala,11.0,8.0,400.0,150.0,4997,14.0,73,US

In [10]:
#get Smallest 
df['Weight'].nsmallest(5)

61     1613
151    1649
350    1755
352    1760
60     1773
Name: Weight, dtype: int64

Cumulative Operations

In [11]:
df['MPG']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: MPG, Length: 406, dtype: float64

In [12]:
df['MPG'].cummax

<bound method Series.cummax of 0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: MPG, Length: 406, dtype: float64>

cumulative minimun

In [13]:
df['MPG'].cummin

<bound method Series.cummin of 0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: MPG, Length: 406, dtype: float64>

cumulative sum

In [14]:
df['Cylinders'].cumsum().head(10)

0     8.0
1    16.0
2    24.0
3    32.0
4    40.0
5    48.0
6    56.0
7     NaN
8    64.0
9    72.0
Name: Cylinders, dtype: float64

In [15]:
df['Cylinders'].cumprod().head(10)

0            8.0
1           64.0
2          512.0
3         4096.0
4        32768.0
5       262144.0
6      2097152.0
7            NaN
8     16777216.0
9    134217728.0
Name: Cylinders, dtype: float64

Monotonic Values

In [17]:
df_temp=pd.read_csv('data/temp_data.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [18]:
df_temp['temp'].is_monotonic_increasing

False

In [19]:
df_temp['temp'].is_monotonic_decreasing

False

In [20]:
df_temp.sort_values(by='temp',ascending=False,inplace=True)

In [21]:
df_temp['temp'].is_monotonic_decreasing

True

In [22]:
df_temp['temp'].is_monotonic_increasing

False

In [23]:
df_temp.sort_values(by='temp',ascending=True,inplace=True)

In [24]:
df_temp['temp'].is_monotonic_increasing

True

In [25]:
df_temp['temp'].is_monotonic_decreasing

False

Unique Values

In [26]:
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [28]:
df['Origin'].unique()

array(['US', 'Europe', 'Japan'], dtype=object)

In [29]:
df['Origin'].nunique()

3

Value Count

In [30]:
df['Origin'].value_counts()

Origin
US        254
Japan      79
Europe     73
Name: count, dtype: int64

In [31]:
df['Origin'].value_counts(normalize=True)*100

Origin
US        62.561576
Japan     19.458128
Europe    17.980296
Name: proportion, dtype: float64

Correlation

In [32]:
df.corr(numeric_only=True)*100

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
MPG,100.000000,-73.466342,-76.427705,-72.580552,-78.750994,42.364488,58.623364
Cylinders,-73.466342,100.000000,95.226479,82.261716,89.462626,-51.585740,-35.706014
Displacement,-76.427705,95.226479,100.000000,87.310086,93.247465,-55.603550,-38.171421
Horsepower,-72.580552,82.261716,87.310086,100.000000,83.999980,-67.905592,-41.841212
Weight,-78.750994,89.462626,93.247465,83.999980,100.000000,-42.947240,-31.538884
Acceleration,42.364488,-51.585740,-55.603550,-67.905592,-42.947240,100.000000,29.756517
Model,58.623364,-35.706014,-38.171421,-41.841212,-31.538884,29.756517,100.000000

In [33]:
df['Weight'].corr(df['Horsepower'])*100

np.float64(83.99998030214128)

Central tendancy

In [34]:
#Average Value
df['Weight'].mean()

np.float64(2979.4137931034484)

In [35]:
#Average Value-median
df['Weight'].median()

np.float64(2822.5)

In [37]:
#Average Value-mode
df['Car'].mode()

0    Toyota Corolla
Name: Car, dtype: object

In [38]:
df.mean(numeric_only=True)

MPG               23.051232
Cylinders          5.469136
Displacement     194.779557
Horsepower       103.393564
Weight          2979.413793
Acceleration      15.530864
Model             75.921182
dtype: float64

Standard Deviation

In [39]:
df['Weight'].std()

np.float64(847.0043282393509)

Quantile_equally Split

In [ ]:
df['Weight'].quantile(0.25)

np.float64(2226.5)

In [41]:
df['Weight'].quantile(0.5)

np.float64(2822.5)

Describe

In [43]:
df['Weight'].describe()

count     406.000000
mean     2979.413793
std       847.004328
min      1613.000000
25%      2226.500000
50%      2822.500000
75%      3618.250000
max      5140.000000
Name: Weight, dtype: float64

Sampling

In [44]:
#Undersamppling
df.shape

(406, 9)

In [48]:
df.sample(n=100)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
13,Plymouth Satellite (sw),0.0,8.0,383.0,175.0,4166,10.5,70,US
176,AMC Gremlin,20.0,6.0,232.0,100.0,2914,16.0,75,US
81,Ford Gran Torino (sw),13.0,8.0,302.0,140.0,4294,16.0,72,US
51,Pontiac Safari (sw),13.0,8.0,400.0,175.0,5140,12.0,71,US
168,Chevrolete Chevelle Malibu,16.0,6.0,250.0,105.0,3897,18.5,75,US
...,...,...,...,...,...,...,...,...,...
85,Peugeot 504 (sw),21.0,4.0,120.0,87.0,2979,19.5,72,Europe
260,Chevrolet Malibu,20.5,6.0,200.0,95.0,3155,18.2,78,US
105,Chevrolet Nova Custom,16.0,6.0,250.0,100.0,3278,18.0,73,US
36,Chevrolet Vega 2300,28.0,4.0,140.0,90.0,2264,15.5,71,US
333,Volkswagen Dasher (diesel),43.4,4.0,90.0,48.0,2335,23.7,80,Europe

In [49]:
df.sample(frac=0.25)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
386,Plymouth Horizon Miser,38.0,4.0,105.0,63.0,2125,14.7,82,US
241,Pontiac Sunbird Coupe,24.5,4.0,151.0,88.0,2740,16.0,77,US
191,Capri ii,25.0,4.0,140.0,92.0,2572,14.9,76,US
71,Plymouth Fury III,15.0,8.0,318.0,150.0,4135,13.5,72,US
35,Datsun PL510,27.0,4.0,97.0,88.0,2130,14.5,71,Japan
...,...,...,...,...,...,...,...,...,...
59,Fiat 124B,30.0,4.0,88.0,76.0,2065,14.5,71,Europe
376,Chevrolet Cavalier Wagon,27.0,4.0,112.0,88.0,2640,18.6,82,US
217,Toyota Mark II,19.0,6.0,156.0,108.0,2930,15.5,76,Japan
332,Volkswagen Rabbit C (Diesel),44.3,4.0,90.0,48.0,2085,21.7,80,Europe
371,Buick Century,22.4,6.0,231.0,110.0,3415,15.8,81,US

Oversampling

In [50]:
df.sample(n=1000,replace=True)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
155,Fiat 124 TC,26.0,4.0,116.0,75.0,2246,14.0,74,Europe
103,AMC Ambassador Brougham,13.0,8.0,360.0,175.0,3821,11.0,73,US
385,Mazda GLC Custom,31.0,4.0,91.0,68.0,1970,17.6,82,Japan
118,Mazda RX3,18.0,3.0,70.0,90.0,2124,13.5,73,Japan
286,Honda Accord LX,29.5,4.0,98.0,68.0,2135,16.6,78,Japan
...,...,...,...,...,...,...,...,...,...
361,Renault 18i,34.5,4.0,100.0,0.0,2320,15.8,81,Europe
18,Chevrolet Monte Carlo,15.0,8.0,400.0,150.0,3761,9.5,70,US
376,Chevrolet Cavalier Wagon,27.0,4.0,112.0,88.0,2640,18.6,82,US
242,Toyota Corolla Liftback,26.0,4.0,97.0,75.0,2265,18.2,77,Japan
275,Datsun 510,27.2,4.0,119.0,97.0,2300,14.7,78,Japan